.parent > div{
  background-color: rgb(231, 130, 7);
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}